#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &layout;
    };

    kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "kscan";

        input-gpios =   <&pro_micro 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                        <&pro_micro 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                        <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                        <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                        <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                        <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                        <&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                        <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

    };

    layout: layout {
        compatible = "zmk,physical-layout";
        display-name = "Default layout";
        // transform = <&transform>;
        kscan = <&kscan>;

        keys //                      w   h   x   y rot  rx   ry
            = <&key_physical_attrs 100 100   0   0   0   0   0>
            , <&key_physical_attrs 100 100 100   0   0   0   0>
            , <&key_physical_attrs 100 100 200   0   0   0   0>
            , <&key_physical_attrs 100 100 300   0   0   0   0>
            , <&key_physical_attrs 100 100   0 100   0   0   0>
            , <&key_physical_attrs 100 100 100 100   0   0   0>
            , <&key_physical_attrs 100 100 200 100   0   0   0>
            , <&key_physical_attrs 100 100 300 100   0   0   0>
            ;
    
    };


};