/ {
    chosen {
        zmk,kscan = &kscan;
    };

    kscan: kscan {
        compatible = "zmk,kscan-gpio-direct";
 //       label = "kscan";

        input-gpios =   <&gpio 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                        <&gpio 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                        <&gpio 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                        <&gpio 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                        <&gpio 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                        <&gpio 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                        <&gpio 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                        <&gpio 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

    };

};